{% extends "base.html" %}

{% block content %}
<h2>Alice</h2>

<div class="form-group">
    <label>Name</label>
    <textarea class="form-control">Alice</textarea>
</div>

<div class="form-group">
    <label>Instruments</label>
    <textarea class="form-control">Vocals, guitar</textarea>
</div>

<div class="form-group">
    <label>Member from</label>
    <textarea class="form-control">13.01.2010</textarea>
</div>

<div class="form-group"> 
    <label>Member until</label>
    <textarea class="form-control"> - </textarea>
</div> 

<p>
    <button type="submit" class="btn btn-success">Save changes</button>
</p>

{% endblock %}