{% extends "base.html" %}

{% block content %}
<h2>Add new concert</h2>

<div class="form-group">
    <label>Location</label>
    <textarea class="form-control">Klubi, Tampere</textarea>
</div>

<div class="form-group">
    <label>Date</label>
    <textarea class="form-control">23.03.2017</textarea>
</div>

<div class="form-group">
    <label>Time</label>
    <textarea class="form-control">8:00pm</textarea>
</div>

<p>
    <button type="submit" class="btn btn-success">Save changes</button>
</p>

{% endblock %}