{% extends "base.html" %}

{% block content %}
<h2>Search results</h2>

<form>
    <input class="form-control" placeholder="Search bands by name, genre or band member's name" type="text">
    <button type="submit" class="btn btn-primary">Search</button>    
</form>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Next concert</th>
            <th>Band members</th>
            <th>Genres</th>
        </tr>
    </thead>
    
    <tbody>
        <tr>
            <td><a href="#">Smaller Band</a></td>
            <td>21.02.2017, Stockholm</td>
            <td>Jack, Celia, Yuri</td>
            <td>Rock, folk, punk</td>
        </tr>
        
        <tr>
            <td><a href="#">The Band</a></td>
            <td>23.03.2017, Tampere</td>
            <td>Alice, Eoghan</td>
            <td>Grunge, reggae, funk, pop</td>
        </tr>
    </tbody>
</table>
{% endblock %}