{% extends "base.html" %}

{% block content %}
<h2>Edit: {{band.bandname}}</h2>

<p>{{error}}</p>

<label>Delete genres</label>
<div class="form-group">
    {% for genre in bandgenres %}    
    <a class="btn btn-danger btn-sm" href="{{base_path}}/bandgenre/{{genre.id}}/delete">{{genre.genrename}}</a>
    {% endfor %}
</div>

<label>Add new genres</label>
<div class="form-group">
    {% for genre in genres %}    
    <a class="btn btn-primary btn-sm" href="{{base_path}}/bandgenre/{{genre.id}}/add">{{genre.genrename}}</a>
    {% endfor %}
</div>

<div>
    {% if links %}
    <table class="table">
        <thead>
            <tr>
                <th>Links</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            {% for link in links %}
            <tr>
                <td><a href="{{link.url}}">{{link.linkname}}</a></td>
                <th><a class="btn btn-danger btn-sm" href="{{base_path}}/bandlink/{{link.id}}/delete">Remove</a></th>                
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}       

</div>

<p>
    <a class="btn btn-success" href="{{base_path}}/band/{{band.id}}/newlink">Add new link</a>
</p> 

<form method="post" action="{{base_path}}/band/{{band.id}}/edit">

    <div class="form-group">
        <label class="col-xs-5">Name of the band</label>
        <input class="form-control" value="{{band.bandname}}" type="text" name="name">
    </div>

    <div class="form-group">
        <label class="col-xs-5">Country of origin</label>
        <input class="form-control" value="{{band.origin}}" type="text" name="origin">
    </div>

    <div class="form-group"> 
        <label class="col-xs-5">Description</label>
        <textarea class="form-control" name="description">{{band.description}}</textarea>
    </div> 

    <button type="submit" class="btn btn-primary" style="float: right">Save changes</button>

</form>

<div>
    <h2>Band members</h2>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Instruments</th>
                <th>Member from</th>
                <th>Member until</th>
                <th></th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            {% for member in members %}
            <tr>
                <td>{{member.membername}}</td>
                <td>{{member.instruments}}</td>
                <td>{{member.joined}}</td>
                <td>{{member.resigned}}</td>
                <td><a class="btn btn-primary btn-sm" href="{{base_path}}/member/{{member.id}}/edit">Edit</a></td>
                <td><a class="btn btn-danger btn-sm" href="{{base_path}}/member/{{member.id}}/delete">Remove</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <p>
        <a class="btn btn-success" href="{{base_path}}/band/{{band.id}}/newmember">Add new band member</a>
    </p>
</div>

<div>
    <h2>Concerts</h2>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Location</th>
                <th>Date</th>
                <th>Time</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            {% for gig in gigs %}
            <tr>
                <td>{{gig.location}}</td>
                <td>{{gig.date}}</td>
                <td>{{gig.time}}</td>
                <th><a class="btn btn-primary btn-sm" href="{{base_path}}/gig/{{gig.id}}/edit">Edit</a></th>
                <th><a class="btn btn-danger btn-sm" href="{{base_path}}/gig/{{gig.id}}/delete">Remove</a></th>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

<div class="form-group">
    <a class="btn btn-success" href="{{base_path}}/band/{{band.id}}/newgig">Add new concert</a>
</div>

<div class="form-group">
    <a class="btn btn-danger btn-lg" style="float: right" href="{{base_path}}/band/{{band.id}}/delete">Delete your account</a>
</div>
{% endblock %}