{% extends "base.html" %}

{% block content %}
<h2>
    {{band.bandname}}
    <a class="btn btn-success" style="float: right" href="{{base_path}}/favourites/{{band.id}}">Favourites</a>
</h2>

<p>{{message}}</p>

{% for genre in genres %}
<a class="btn btn-primary btn-sm" href="{{base_path}}/genre_search/{{genre.id}}">{{genre.genrename}}</a>
{% endfor %}

{% if links > 0 %}
<div>
    <table>
        <thead>
            <tr>
                <th>Links:</th>
            </tr>
        </thead>

        <tbody>
            {% for link in links %}
            <tr>
                <td><a href="{{link.url}}">{{link.linkname}}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}

<div>
    <p style="margin-top: 10px"><strong>Origin:</strong> {{band.origin}}</p>

    <p>{{band.description}}</p>
</div>

{% if in_favourites %}
This band is added to your favourites!
{% elseif user == band.id %}
{% elseif user %}
<form method="post" action="{{base_path}}/band/{{band.id}}/to_favourites">
    <button class="btn btn-success">Add to favourites</button>
</form>
{% endif %}

<div>
    <h2>Band members</h2>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Instruments</th>
                <th>Member from</th>
                <th>Member until</th>
            </tr>
        </thead>

        <tbody>
            {% for member in members %}
            <tr>
                <td>{{member.membername}}</td>
                <td>{{member.instruments}}</td>
                <td>{{member.joined}}</td>
                <td>{{member.resigned}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div>
    <h2>Upcoming concerts</h2>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Location</th>
                <th>Date</th>
                <th>Time</th>
            </tr>
        </thead>

        <tbody>
            {% for gig in gigs %}
            <tr>
                <td>{{gig.location}}</td>
                <td>{{gig.date}}</td>
                <td>{{gig.time}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}