{% extends "base.html" %}

{% block content %}
<h2>Edit: {{band.bandname}}</h2>

<form method="post" action="{{base_path}}/band/{{band.id}}/edit">

    <div class="form-group">
        <label class="col-xs-3 control-label">Choose genres</label>
        <div class="col-xs-5">
            <select class="form-control" multiple size="5">
                <option value="metal">Metal</option>
                <option value="rock">Rock</option>
                <option value="funk">Funk</option>
                <option value="psychedelic">Psychedelic</option>
                <option value="ambient">Ambient</option>
                <option value="rap">Rap</option>
                <option value="reggae">Reggae</option>
                <option value="pop">Pop</option>
                <option value="folk">Folk</option>
                <option value="country">Country</option>
                <option value="grunge">Grunge</option>
                <option value="punk">Punk</option>
            </select>
        </div>
    </div>

    <div>
        <p>Hold down control to choose multiple options</p>
    </div>

    <div class="form-group">
        <label class="col-xs-5">Name of the band</label>
        <input class="form-control" value="{{band.bandname}}" type="text" name="name">
    </div>

    <div class="form-group">
        <label class="col-xs-5">Country of origin</label>
        <input class="form-control" value="{{band.origin}}" type="text" name="origin">
    </div>

    <div class="form-group">
        <label class="col-xs-5">Website</label>
        <input class="form-control" type="text" name="url">
    </div>

    <div class="form-group"> 
        <label class="col-xs-5">Description</label>
        <textarea class="form-control" name="description">{{band.description}}</textarea>
    </div> 

    <button type="submit" class="btn btn-primary" style="float: right">Save changes</button>

</form>

<div>
    <h2>Band members</h2>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Instruments</th>
                <th>Member from</th>
                <th>Member until</th>
                <th></th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            {% for member in members %}
            <tr>
                <td>{{member.membername}}</td>
                <td>{{member.instruments}}</td>
                <td>{{member.joined}}</td>
                <td>{{member.resigned}}</td>
                <th><a class="btn btn-primary btn-sm" href="{{base_path}}/member/{{member.id}}/edit">Edit</a></th>
                <th><a class="btn btn-danger btn-sm" href="{{base_path}}/member/{{member.id}}/delete">Remove</a></th>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <p>
        <a class="btn btn-success" href="{{base_path}}/band/{{band.id}}/newmember">Add new band member</a>
    </p>
</div>

<div>
    <h2>Concerts</h2>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Location</th>
                <th>Date</th>
                <th>Time</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            {% for gig in gigs %}
            <tr>
                <td>{{gig.location}}</td>
                <td>{{gig.date}}</td>
                <td>{{gig.time}}</td>
                <th><a class="btn btn-primary btn-sm" href="{{base_path}}/gig/{{gig.id}}/edit">Edit</a></th>
                <th><a class="btn btn-danger btn-sm" href="{{base_path}}/gig/{{gig.id}}/delete">Remove</a></th>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

<div class="form-group">
    <a class="btn btn-success" href="{{base_path}}/band/{{band.id}}/newgig">Add new concert</a>
</div>

<div class="form-group">
    <a class="btn btn-danger btn-lg" href="{{base_path}}/band/{{band.id}}/delete">Delete your account</a>
</div>
{% endblock %}