{% extends "base.html" %}

{% block content %}
<h2>Add new concert</h2>

<form method="post" action="{{base_path}}/band/{{user}}/newgig">
    
    <div class="form-group">
        <label>Location</label>
        <textarea class="form-control" name="location"></textarea>
    </div>

    <div class="form-group">
        <label>Date</label>
        <textarea class="form-control" name="date"></textarea>
    </div>

    <div class="form-group">
        <label>Time</label>
        <textarea class="form-control" name="time"></textarea>
    </div>

    <div>
        <button type="submit" class="btn btn-success">Add concert</button>
    </div>
    
</form>

{% endblock %}