{% extends "base.html" %}

{% block content %}
<h2>Favourites</h2>

{% if favourites %}
<div class="form-group">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Next concert</th>
            </tr>
        </thead>
        
        <tbody>
            {% for favourite in favourites %}
            <tr>
                <td><a href="{{base_path}}/band/{{favourite.id}}">{{favourite.bandname}}</a></td>
                <td>
                    {% if favourite.nextgig %}
                    {{favourite.nextgig.time}}, {{favourite.nextgig.date}}, {{favourite.nextgig.location}}
                    {% endif %}
                </td>
                {% if user == band.id %}
                <td><a class="btn btn-danger" href="{{base_path}}/favourite/{{favourite.id}}/delete">Delete</a></td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% elseif user == band.id %}
<div class="alert alert-info">You have not added any bands to your favourites. You can do so by searching bands you like by name or by genre and then clicking "Add to favourites" on their profile.</div>
{% else %}
<div class="alert alert-info">{{band.bandname}} hasn't added any bands to their favourites list.</div>
{% endif %}
{% endblock %}
