{% extends "base.html" %}

{% block content %}
<h2>Search results</h2>

<label>Search bands by genre</label>
<div class="form-group">
    {% for genre in genres %}
    <a class="btn btn-primary btn-sm" href="{{base_path}}/genre_search/{{genre.id}}">{{genre.genrename}}</a>
    {% endfor %}
</div>

<form method="post" action="{{base_path}}/search">
    <div class="form-group">
        <input name="search" class="form-control" placeholder="Search bands by name" type="text">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success">Search</button>  
    </div>
</form>

{% if bands > 0 %}
<div class="form-group">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Next concert</th>
                <th>Band members</th>
                <th>Genres</th>
                <th>Votes</th>
            </tr>
        </thead>

        <tbody>
            {% for band in bands %}
            <tr>
                <td><a href="{{base_path}}/band/{{band.id}}">{{band.bandname}}</a></td>
                <td>                    
                    {% if band.nextgig %}
                    {{band.nextgig.date}}, {{band.nextgig.time}}: {{band.nextgig.location}}
                    {% endif %}
                </td>
                <td>
                    {% for member in band.members %}
                    {{member.membername}} 
                    {% endfor %}
                </td>
                <td>                    
                    {% for genre in band.genres %}
                    <a class="btn btn-success btn-xs" href="{{base_path}}/genre_search/{{genre.id}}">{{genre.genrename}}</a>
                    {% endfor %}
                </td>
                <td>{{band.likes}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
{{message}}
{% endif %}
{% endblock %}